// 変数ファイルのインポート
@use './variables' as vars;

// ミックスインファイルのインポート
@use 'mixins' as *;

// 基本スタイルのインポート
@use './base';

// 各セクションのインポート
@use '../scss/object/component/mv';
@use '../scss/object/component/campaign';
@use '../scss/object/component/catch';
@use '../scss/object/component/collection';
@use '../scss/object/component/products';

// 追従ボタンスタイルのインポート
@use '../scss/object/component/follow';


@font-face {
    font-family: 'Chonburi';
    src: url('../assets/fonts/Chonburi-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ShipporiAntique';
    src: url('../assets/fonts/ShipporiAntique-Regular.ttf') format('truetype');
}

body {
    font-family: vars.$font-shippori;
    color: vars.$brown;
    background-color: vars.$white;
    line-height: 1.1;

    main {
        overflow: hidden;
    }

    a {
        text-decoration: inherit;
    }

    img {
        width: 100%;
        height: auto;
    }

    span {
        &.fs-14 {
            font-size: 14px;
        }

        &.fs-16 {
            font-size: 16px;
        }

        &.fs-28 {
            font-size: 28px;
        }
    }

    .logo {
        display: inline-block;
        position: relative;
        padding: 5px 25px;
        font-size: 20px;
        font-family: vars.$font-chonburi;
        color: vars.$brown;
        border: 1px solid vars.$brown;
        border-radius: 4px;
        z-index: 10;
    }
}



.footer {
    padding: 200px 0 80px;
    text-align: center;

    p+p {
        margin-top: 40px;
    }
}