// 変数ファイルのインポート
@use './variables' as vars;

// ミックスインファイルのインポート
@use 'mixins' as *;

// 基本スタイルのインポート
@use './base';

// 追従ボタンスタイルのインポート
@use '../scss/object/component/follow';


@font-face {
  font-family: 'Chonburi';
  src: url('../assets/fonts/Chonburi-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'ShipporiAntique';
  src: url('../assets/fonts/ShipporiAntique-Regular.ttf') format('truetype');
}

body {
  font-family: vars.$font-shippori;
  color: vars.$brown;
  background-color: vars.$white;
  line-height: 1.1;

  main {
    overflow: hidden;
  }

  a {
    text-decoration: inherit;
  }

  img {
    width: 100%;
    height: auto;
  }

  span {
    &.fs-14 {
      font-size: 14px;
    }
    
    &.fs-16 {
      font-size: 16px;
    }
  
    &.fs-28 {
      font-size: 28px;
    }
  }

  .logo {
    display: inline-block;
    position: relative;
    padding: 5px 25px;
    font-size: 20px;
    font-family: vars.$font-chonburi;
    color: vars.$brown;
    border: 1px solid vars.$brown;
    border-radius: 4px;
    z-index: 10;
  }
}

.mv {
  width: 100%;
  position: relative;
  background-color: vars.$bg-pink;
  z-index: 10;

  @include mq(pc) {
    padding-top: 20px;
  }

  &__inner {
    height: 1020px;
    padding-top: 30px;
    position: relative;
    font-family: vars.$font-chonburi;
    color: transparent;
    background-color: vars.$bg-mv;
    box-shadow: 20px 20px 16px vars.$shadow-color;

    @include mq(pc) {
      width: calc(100% - 40px);
      height: 800px;
      padding: 30px;
      margin: 0 auto;
    }
  }

  &::after {
    @include mq(pc) {
      content: "";
      width: 675px;
      height: 330px;
      position: absolute;
      bottom: 0;
      right: 20px;
      background-image: url(../assets/images/vector-yellow.png);
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 1;
    }
  }

  &::before {
    content: "";
    width: 367px;
    height: 231px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../assets/images/vector-pink.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }

  &__ttl {
    width: 339px;
    height: 188px;
    margin: 165px auto 0;
    font-size: 80px;
    background-image: url(../assets/images/mv_ttl_sp.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;

    @include mq(pc) {
      width: auto;
      position: absolute;
      bottom: -190px;
      right: -370px;
      font-size: 94px;
      background-image: url(../assets/images/mv_ttl_pc.png);
      letter-spacing: -2.82px;
    }
  }

  &__txt {
    display: inline-block;
    position: absolute;
    top: -60px;
    left: 0;
    font-size: 40px;
    letter-spacing: -1.2px;
    background-image: url(../assets/images/mv_txt.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;

    @include mq(pc) {
      top: 98px;
      left: -55px;
      transform: translate(1rem, -2rem) rotate(90deg);
      transform-origin: left;
    }
  }

  &__center {
    width: 345px;
    height: 468px;
    margin: 0 auto;
    position: relative;
    transform: translateX(-5px);
    z-index: 10;

    @include mq(pc) {
      width: 420px;
      height: 570px;
      transform: translate(0);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;

      @include mq(pc) {
        top: 18px;
        left: 18px;
      }
    }

    &::before {
      width: 100%;
      height: 100%;
      top: 11px;
      left: 11px;
      border-radius: 100px 0 0 0;
      background-color: vars.$bg-pink;
      z-index: 10;
    }

    &::after {
      width: 41px;
      height: 88px;
      top: -16px;
      right: 13px;
      background-image: url(../assets/images/clip.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 10;

      @include mq(pc) {
        right: 37px;
      }
    }
  }

  &__main-photo{
    width: 100%;
    height: 468px;
    margin-top: 90px;
    position: relative;
    border-radius: 100px 0 0 0;
    overflow: hidden;

    @include mq(pc) {
      height: 570px;
      margin-top: 0;
    }

    img {
      position: relative;
      z-index: 10;
    }
  }

  &__cutout-photos {
    width: 484px;
    height: 330px;
    position: absolute;
    top: 287px;
    left: -67px;

    @include mq(pc) {
      width: 905px;
      height: 656px;
      top: -14px;
      left: -321px;
    }

    &--01 {
      width: 196px;
      position: absolute;
      bottom: 15px;
      left: 17px;
      z-index: 15;

      @include mq(pc) {
        bottom: 90px;
        left: 29px;
      }
    }

    &--02 {
      width: 208px;
      position: absolute;
      bottom: 30px;
      left: 264px;
      transform: rotate(6deg);
      z-index: 15;

      @include mq(pc) {
        bottom: 22px;
        left: 120px;
        transform: rotate(0);
      }
    }

    &--03 {
      display: none;

      @include mq(pc) {
        width: 233px;
        display: block;
        position: absolute;
        top: -18px;
        right: 16px;
        z-index: 15;
      }
    }
  }

  &__cutout-deco {
    &--handwritten {
      &::before,
      &::after {
        @include mq(pc) {
          content: "";
          position: absolute;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      &::before {
        @include mq(pc) {
          width: 54px;
          height: 83px;
          top: 270px;
          left: 40px;
          background-image: url(../assets/images/handwritten-sparkling.png);
        }
      }

      &::after {
        @include mq(pc) {
          width: 59px;
          height: 48px;
          top: 10px;
          right: 10px;
          background-image: url(../assets/images/handwritten-arrow.png);
        }
      }
    }
    &--perpar {
      &::before {
        content: "";
        width: 378px;
        height: 364px;
        position: absolute;
        bottom: -66px;
        left: 25px;
        background-image: url(../assets/images/mv_perpar-left.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 0;

        @include mq(pc) {
          width: 410px;
          height: 328px;
          bottom: -47px;
          left: -21px;
        }
      }

      &::after {
        @include mq(pc) {
          content: "";
          width: 346px;
          height: 332px;
          position: absolute;
          top: 108px;
          right: -40px;
          background-image: url(../assets/images/mv_perpar-right.png);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          z-index: 0;
        }
      }
    }
  }
}

.campaign {
  padding: 100px 0;

  &.is-top {
    background-color: vars.$bg-pink;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 300px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -50px;
      background-image: url(../assets/images/bg-paper-bottom.png);
      background-size: 600px;
      background-position: bottom;
      background-repeat: repeat-x;
      z-index: -1;
    }
  }

  &__inner {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__date {
    margin-bottom: 15px;
  }

  &__btn-wrap {
    position: relative;
  }

  &__discount-batch {
    width: 85px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 16px;
    font-family: vars.$font-chonburi;
    background-image: url(../assets/images/bg-batch.png);
    background-size: 85px;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
  }

  &__btn-reserve {
    width: 320px;
    height: 60px;
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    background-color: vars.$main-color;
    border-radius: 24px;
    border: 2px solid vars.$brown;
    box-shadow: 0 4px 4px vars.$shadow-color;
  }

  &__coupon-get {
    width: 116px;
    height: 63px;
    margin-top: 50px;
    padding-bottom: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    &.is-top {
      color: vars.$main-color;
      background-image: url(../assets/images/speech-bubble_white.png);
    }

    &.is-bottom {
      color: vars.$white;
      background-image: url(../assets/images/speech-bubble_pink.png);
    }
  }

  &__social-links {
    display: flex;
    margin-top: 12px;
    gap: 16px;
    align-items: center;
  }

  &__social-logo {
    width: 30px;
  }
}

.catch {
  width: 100%;
  max-width: 375px;
  margin: 100px auto 0;
  display: block;
  text-align: center;

  &__scroll-txt {
    font-size: 16px;
    font-family: vars.$font-chonburi;
  }

  &__scroll-arrow {
    width: 30px;
    margin-top: 15px;
  }

  &__index {
    margin-top: 150px;
    color: vars.$main-color;
  }

  &__ttl {
    font-size: 32px;
    line-height: 1.8;
    text-shadow: 2px 2px 2px vars.$shadow-color;
  }

  &__txt {
    margin-top: 60px;
    font-size: 16px;
  }
}

.collection {
  margin-top: 200px;
  padding: 100px 0;
  position: relative;
  background-color: vars.$bg-pink;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    background-size: 600px;
    background-repeat: repeat-x;
    z-index: -1;
  }

  &::before {
    top: -70px;
    background-image: url(../assets/images/bg-paper-top.png);
    background-position: top;
  }

  &::after {
    bottom: -50px;
    background-image: url(../assets/images/bg-paper-bottom.png);
    background-position: bottom;
  }


  &__inner {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__scroll-ttl {
    width: 345px;
    overflow: hidden;
  }
  &__ttl {
    width: 2360px;
    display: flex;
    padding-bottom: 3px;
    font-size: 68px;
    font-family: vars.$font-chonburi;
    color: vars.$second-color;
    gap: 50px;
    letter-spacing: -1.5px;
    animation: scroll-ttl 20s linear infinite;

    &--first {
      padding-left: 10px;
    }
  }

  &__list {
    margin-top: 80px;
  }
  &__item {
    padding-top: 40px;
    position: relative;
    background-color: vars.$white;

    &::before {
      content: "";
      width: 326px;
      height: 20px;
      position: absolute;
      top: 10px;
      left: 10px;
      background-image: url(../assets/images/note-ring.png);
      background-size: auto 20px;
      background-position: left -7px center;
      background-repeat: repeat-x;
    }
  }

  &__item + * {
    margin-top: 130px;
  }

  &__num {
    width: 135px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 22px;
    font-family: vars.$font-chonburi;
    background-image: url(../assets/images/bg-batch_collection.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    &--01 {
      top: -36px;
      left: -27px;
      transform: rotate(-6deg);
    }

    &--02 {
      top: -33px;
      right: 20px;
      transform: rotate(6.5deg);
    }

    &--03 {
      top: -33px;
      left: -43px;
      transform: rotate(-12deg);
    }

    &--04 {
      top: -55px;
      right: -10px;
      transform: rotate(-3deg);
    }

    &--05 {
      top: -35px;
      left: -26px;
      transform: rotate(-6deg);
    }

    &--06 {
      top: -47px;
      right: 36px;
      transform: rotate(6deg);
    }
  }

  &__contents {
    padding: 40px 0 30px;
    background-image: linear-gradient(90deg, #eddecf80 1px, transparent 1px), linear-gradient(#eddecf80 1px, transparent 1px);
    background-size: 16px 16px;
  }

  &__main-photos {
    width: 315px;
    height: 430px;
    margin: 0 auto;
    position: relative;
  }
  
  &__photo-frame {
    width: 315px;
    height: 430px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 5;

    &.is-next {
      transform: translate(3px, -2px) rotate(5deg);
      z-index: 7;
      filter: grayscale(1);
    }

    &.is-show {
      z-index: 10;
    }
  }

  &__main-photo {    
    box-shadow: 0 4px 4px vars.$shadow-color;
  }

  &__freepik-link {
    margin-top: 15px;
    padding: 0 15px;
    font-size: 9px;
    text-align: right;
  }

  &__about {
    margin-top: 50px;
    padding: 0 30px 30px;
    position: relative;

    .bg-right,
    .bg-left {
      height: 252px;
      display: block;
      position: absolute;
      bottom: 0;
      overflow: hidden;

      &::before,
      &::after {
        content: "";
        position: absolute;
      }

      &::before {
        width: 333px;
        height: 250px;
        top: 0;
        left: 0;
        background-color: vars.$bg-yellow;
        z-index: 2;
      }
  
      &::after {
        width: 330px;
        height: 247px;
        top: 5px;
        left: 5px;
        background-color: vars.$brown;
        opacity: 0.7;
        z-index: 1;
      }
    }

    .bg-right {
      width: 333px;
      right: 0;
    }

    .bg-left {
      width: 335px;
      left: 0;
    }

  }

  &__about-ttl,
  &__about-txt {
    margin-top: 10px;
    position: relative;
    z-index: 10;
  }

  &__about-ttl {
    font-size: 16px;
  }

  &__about-txt {
    font-size: 14px;
  }

  &__detail {
    height: 300px;
    margin-top: 10px;
    padding: 0 30px;
    position: relative;
  }

  &__crop-photo {
    position: absolute;
    
    &--01 {
      width: 160px;
      top: 0;
      left: 0;
    }
    
    &--02 {
      width: 148px;
      top: 0;
      left: 13px;
    }
    
    &--03 {
      width: 220px;
      top: 43px;
      left: -30px;
    }
    
    &--04 {
      width: 148px;
      top: -10px;
      left: 25px;
    }
    
    &--05 {
      width: 153px;
      top: -16px;
      left: 11px;
    }
    
    &--06 {
      width: 150px;
      top: -1px;
      left: 11px;
    }
  }

  &__detail-list {
    width: 170px;
    margin: 0 0 0 auto;
    display: grid;

    &--01 {
      padding-top: 70px;
      gap: 20px;
    }

    &--02 {
      padding-top: 80px;
      gap: 35px;
    }

    &--03 {
      padding-top: 50px;
      gap: 30px;
    }

    &--04 {
      padding-top: 70px;
      gap: 40px;
    }

    &--05 {
      padding-top: 90px;
      gap: 30px;
    }

    &--06 {
      padding-top: 55px;
      gap: 30px;
    }
  }

  &__detail-item {
    display: flex;
    justify-content: space-between;
    font-size: 12px;

    &.column {
      flex-direction: column;
      gap: 5px;
      white-space: nowrap;

      .product-price {
        text-align: right;
      }
    }
  }

  &__check-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: vars.$font-chonburi;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    &--01 {
      width: 158px;
      height: 80px;
      padding-bottom: 13px;
      bottom: 35px;
      right: 30px;
      background-image: url(../assets/images/blobs-01.png);
    }
    
    &--02 {
      width: 154px;
      height: 120px;
      padding-right: 5px;
      bottom: -50px;
      right: 13px;
      background-image: url(../assets/images/blobs-02.png);
    }
    
    &--03 {
      width: 161px;
      height: 116px;
      padding-bottom: 5px;
      bottom: -33px;
      right: 0px;
      background-image: url(../assets/images/blobs-03.png);
    }
    
    &--04 {
      width: 164px;
      height: 116px;
      padding: 0 5px 5px 0;
      bottom: -55px;
      right: 20px;
      background-image: url(../assets/images/blobs-04.png);
    }
    
    &--05 {
      width: 154px;
      height: 122px;
      padding-bottom: 5px;
      bottom: -50px;
      right: -26px;
      background-image: url(../assets/images/blobs-05.png);
    }
    
    &--06 {
      width: 164px;
      height: 126px;
      padding-bottom: 10px;
      bottom: -52px;
      right: -20px;
      background-image: url(../assets/images/blobs-06.png);
    }
  }
}

.products {
  padding: 35px 0;
  background-color: vars.$bg-pink;
  
  &__inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
  
  &__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__ttl {
    width: 270px;
    font-size: 24px;
    font-family: vars.$font-chonburi;
    text-align: center;
    flex-shrink: 0;
  }

  &__frame {
    width: 1010px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  &__list {
    display: flex;
  }

  &__item {
    width: 190px;
    padding: 0 20px;
    flex-shrink: 0;

    * + * {
      margin-top: 10px;
    }
  }

  &__btn {
    width: 150px;
    height: 32px;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: vars.$brown;
    background-color: vars.$white;
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid vars.$brown;
    box-shadow: 0 4px 4px vars.$shadow-color;
  }
}

.footer {
  padding: 200px 0 80px;
  text-align: center;

  p + p {
    margin-top: 40px;
  }
}

// animation
@keyframes scroll-ttl {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50.9%);
  }
}
