// 変数ファイルのインポート
@use '/src/sass/variables' as vars;

// ミックスインファイルのインポート
@use '/src/sass/mixins' as *;

.mv {
    width: 100%;
    position: relative;
    background-color: vars.$bg-pink;
    z-index: 10;

    @include mq(pc) {
        padding-top: 20px;
    }

    &__inner {
        height: 1020px;
        padding-top: 30px;
        position: relative;
        font-family: vars.$font-chonburi;
        color: transparent;
        background-color: vars.$bg-mv;
        box-shadow: 20px 20px 16px vars.$shadow-color;

        @include mq(pc) {
            width: calc(100% - 40px);
            height: 800px;
            padding: 30px;
            margin: 0 auto;
        }
    }

    &::after {
        @include mq(pc) {
            content: "";
            width: 675px;
            height: 330px;
            position: absolute;
            bottom: 0;
            right: 20px;
            background-image: url(../assets/images/vector-yellow.png);
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 1;
        }
    }

    &::before {
        content: "";
        width: 367px;
        height: 231px;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../assets/images/vector-pink.png);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
    }

    &__ttl {
        width: 339px;
        height: 188px;
        margin: 165px auto 0;
        font-size: 80px;
        background-image: url(../assets/images/mv_ttl_sp.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10;

        @include mq(pc) {
            width: auto;
            position: absolute;
            bottom: -190px;
            right: -370px;
            font-size: 94px;
            background-image: url(../assets/images/mv_ttl_pc.png);
            letter-spacing: -2.82px;
        }
    }

    &__txt {
        display: inline-block;
        position: absolute;
        top: -60px;
        left: 0;
        font-size: 40px;
        letter-spacing: -1.2px;
        background-image: url(../assets/images/mv_txt.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10;

        @include mq(pc) {
            top: 98px;
            left: -55px;
            transform: translate(1rem, -2rem) rotate(90deg);
            transform-origin: left;
        }
    }

    &__center {
        width: 345px;
        height: 468px;
        margin: 0 auto;
        position: relative;
        transform: translateX(-5px);
        z-index: 10;

        @include mq(pc) {
            width: 420px;
            height: 570px;
            transform: translate(0);
        }

        &::before,
        &::after {
            content: "";
            position: absolute;

            @include mq(pc) {
                top: 18px;
                left: 18px;
            }
        }

        &::before {
            width: 100%;
            height: 100%;
            top: 11px;
            left: 11px;
            border-radius: 100px 0 0 0;
            background-color: vars.$bg-pink;
            z-index: 10;
        }

        &::after {
            width: 41px;
            height: 88px;
            top: -16px;
            right: 13px;
            background-image: url(../assets/images/clip.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 10;

            @include mq(pc) {
                right: auto;
                left: 360px;
            }
        }
    }

    &__main-photo {
        width: 100%;
        height: 468px;
        margin-top: 90px;
        position: relative;
        border-radius: 100px 0 0 0;
        overflow: hidden;

        @include mq(pc) {
            height: 570px;
            margin-top: 0;
        }

        img {
            position: relative;
            z-index: 10;
        }
    }

    &__cutout-photos {
        width: 484px;
        height: 330px;
        position: absolute;
        top: 287px;
        left: -67px;

        @include mq(pc) {
            width: 905px;
            height: 656px;
            top: -14px;
            left: -321px;
        }

        &--01 {
            width: 196px;
            position: absolute;
            bottom: 15px;
            left: 17px;
            z-index: 15;

            @include mq(pc) {
                bottom: 90px;
                left: 29px;
            }
        }

        &--02 {
            width: 208px;
            position: absolute;
            bottom: 30px;
            left: 264px;
            transform: rotate(6deg);
            z-index: 15;

            @include mq(pc) {
                bottom: 22px;
                left: 120px;
                transform: rotate(0);
            }
        }

        &--03 {
            display: none;

            @include mq(pc) {
                width: 233px;
                display: block;
                position: absolute;
                top: -18px;
                right: 16px;
                z-index: 15;
            }
        }
    }

    &__cutout-deco {
        &--handwritten {

            &::before,
            &::after {
                @include mq(pc) {
                    content: "";
                    position: absolute;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }

            &::before {
                @include mq(pc) {
                    width: 54px;
                    height: 83px;
                    top: 270px;
                    left: 40px;
                    background-image: url(../assets/images/handwritten-sparkling.png);
                }
            }

            &::after {
                @include mq(pc) {
                    width: 59px;
                    height: 48px;
                    top: 10px;
                    right: 10px;
                    background-image: url(../assets/images/handwritten-arrow.png);
                }
            }
        }

        &--perpar {
            &::before {
                content: "";
                width: 378px;
                height: 364px;
                position: absolute;
                bottom: -66px;
                left: 25px;
                background-image: url(../assets/images/mv_perpar-left.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                z-index: 0;

                @include mq(pc) {
                    width: 410px;
                    height: 328px;
                    bottom: -47px;
                    left: -21px;
                }
            }

            &::after {
                @include mq(pc) {
                    content: "";
                    width: 346px;
                    height: 332px;
                    position: absolute;
                    top: 108px;
                    right: -40px;
                    background-image: url(../assets/images/mv_perpar-right.png);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    z-index: 0;
                }
            }
        }
    }
}
