// 変数ファイルのインポート
@use '/src/sass/variables' as vars;

// ミックスインファイルのインポート
@use '/src/sass/mixins' as *;

.products {
    padding: 35px 0;
    background-color: vars.$bg-pink;

    &__inner {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }

    &__contents {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__ttl {
        width: 270px;
        font-size: 24px;
        font-family: vars.$font-chonburi;
        text-align: center;
        flex-shrink: 0;
    }

    &__frame {
        width: 1010px;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    &__list {
        display: flex;
    }

    &__item {
        width: 190px;
        padding: 0 20px;
        flex-shrink: 0;

        *+* {
            margin-top: 10px;
        }
    }

    &__btn {
        width: 150px;
        height: 32px;
        margin: 20px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: vars.$brown;
        background-color: vars.$white;
        font-size: 14px;
        border-radius: 20px;
        border: 1px solid vars.$brown;
        box-shadow: 0 4px 4px vars.$shadow-color;
    }
}