// 変数ファイルのインポート
@use '../foundation/variables' as vars;

// ミックスインファイルのインポート
@use '../foundation/mixins' as *;

.catch {
    width: 100%;
    max-width: 375px;
    margin: 100px auto 0;
    display: block;
    text-align: center;

    &__scroll-txt {
        font-size: 16px;
        font-family: vars.$font-chonburi;
    }

    &__arrow-frame {
        width: 30px;
        height: 110px;
        margin: 15px auto 0;
        overflow: hidden;
    }

    &__scroll-arrow {
        width: 30px;
        opacity: 0;
        animation: transform-arrow 2s ease infinite;
    }

    &__index {
        margin-top: 100px;
        color: vars.$main-color;
    }

    &__ttl {
        font-size: 32px;
        line-height: 1.8;
        text-shadow: 2px 2px 2px vars.$shadow-color;
    }

    &__txt {
        margin-top: 60px;
        font-size: 16px;
    }
}

@keyframes transform-arrow {
    0% {
        transform: translateY(-25%);
    }
    25% {
        opacity: 1;
        transform: translateY(10px);
    }
    80% {
        opacity: 1;
        transform: translateY(10px);
    }
    100% {
        opacity: 0;
        transform: translateY(35%);
    }
}