// 変数ファイルのインポート
@use '../foundation/variables' as vars;

// ミックスインファイルのインポート
@use '../foundation/mixins' as *;

.products {
    padding: 35px 0;
    background-color: vars.$bg-pink;

    &__inner {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }

    &__contents {

        @include mq(pc) {
            display: flex;
            align-items: center;
        }
    }

    &__left-side {
        @include mq(pc) {
            flex-shrink: 0;
            width: 20%;
            max-width: 270px;
        }
    }

    &__ttl {
        font-size: 24px;
        font-family: vars.$font-chonburi;
        text-align: center;
    }

    &__list {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        @include mq(pc) {
            margin-top: 0;
        }
    }

    &__item {
        width: 190px;
        padding: 0 20px;
        flex-shrink: 0;

        *+* {
            margin-top: 10px;
        }
    }

    &__btn {
        width: 150px;
        height: 32px;
        margin: 10px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-family: Chonburi, sans-serif;
        color: vars.$brown;
        border-radius: 20px;
        border: 1px solid vars.$brown;
        box-shadow: 0 4px 4px vars.$shadow-color;
    }
}