// 変数ファイルのインポート
@use './foundation/variables' as vars;

// ミックスインファイルのインポート
@use './foundation/mixins' as *;

// 基本スタイルのインポート
@use './foundation/base';

// 各セクションのインポート
@use './layout/loading';
@use './layout/mv';
@use './layout/campaign';
@use './layout/catch';
@use './layout/collection';
@use './layout/products';
@use './layout/follow';


@font-face {
    font-family: 'Chonburi';
    src: url('../assets/fonts/Chonburi-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ShipporiAntique';
    src: url('../assets/fonts/ShipporiAntique-Regular.ttf') format('truetype');
}

body {
    font-family: vars.$font-shippori;
    color: vars.$brown;
    background-color: vars.$white;
    line-height: 1.1;

    main {
        overflow: hidden;
    }

    a {
        text-decoration: inherit;
    }

    img {
        width: 100%;
        height: auto;
    }

    span {
        &.fs-14 {
            font-size: 14px;
        }

        &.fs-16 {
            font-size: 16px;
        }

        &.fs-28 {
            font-size: 28px;
        }
    }

    .logo {
        display: inline-block;
        position: relative;
        padding: 5px 25px;
        font-size: 20px;
        font-family: vars.$font-chonburi;
        color: vars.$brown;
        border: 1px solid vars.$brown;
        border-radius: 4px;
        z-index: 10;
    }
     
    .push-in:hover {
        position: relative;
        box-shadow: inset 2px 2px 4px 2px vars.$shadow-color;
        transform: translate(0, 1px);
        z-index: 1;

        &.products__btn {
            box-shadow: inset 1px 1px 2px 1px vars.$shadow-color;
        }
    }
    
    .shake:hover {
        animation: shake 2.5s linear infinite;
    }
}

.footer {
    padding: 200px 0 80px;
    text-align: center;

    p+p {
        margin-top: 40px;
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg) scale(1);
    }
    3% {
        transform: rotate(0deg) scale(1.15);
    }
    15% {
        transform: rotate(0deg) scale(1.15);
    }
    19% {
        transform: rotate(8deg) scale(1.15);
    }
    23% {
        transform: rotate(-8deg) scale(1.15);
    }
    27% {
        transform: rotate(0deg) scale(1.15);
    }
    95% {
        transform: rotate(0deg) scale(1.15)
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}